<!-- Orli Guy  311318364  & Mark Giliadov   317346864 -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>The most beautiful sites I have visited</title>
  </head>
  <body>
    <div class="container">
      <h1 class="mb-4">The most beautiful sites I have visited</h1>
      <a href="/sites/new" class="btn btn-success">New Site</a>

      <% sites.forEach(site => { %>
      <div class="card mt-4">
        <div class="card-body">
          <h4 class="card-title"><%= site.title %></h4>
          <img src="<%=site.imgUrl%>" width="250px" height="240px" />
          <div class="card-text mb-2"><%= site.description %></div>
          <a href="sites/<%= site.slug %>" class="btn btn-primary">Read More</a>
          <form
            action="/sites/<%= site.id %>?_method=DELETE"
            method="POST"
            class="d-inline"
          >
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
